<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://kippaccounting.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>kippaccounting.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>KippAccounting</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$KippAccounting</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="KippAccountingDb" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:a5wpctbk48.database.windows.net,1433;Initial Catalog=KippAccounting_db;Integrated Security=False;User ID=kippacct@a5wpctbk48;Password=BoysC!ub2014;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:a5wpctbk48.database.windows.net,1433;Initial Catalog=KippAccounting_db;Integrated Security=False;User ID=kippacct@a5wpctbk48;Password=BoysC!ub2014;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\KippAccountingDb_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:a5wpctbk48.database.windows.net,1433;&#xD;&#xA;         Database=KippAccounting_db;&#xD;&#xA;         User ID=kippacct@a5wpctbk48;&#xD;&#xA;         Password=BoysC!ub2014;&#xD;&#xA;         Trusted_Connection=False;&#xD;&#xA;         Encrypt=True;&#xD;&#xA;         Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)KippAccountingDb-Web.config Connection String">
      <ParameterValue>Data Source=tcp:a5wpctbk48.database.windows.net,1433;Initial Catalog=KippAccounting_db;Integrated Security=False;User ID=kippacct@a5wpctbk48;Password=BoysC!ub2014;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>