<connectionStrings>
  <add name="KippAccountingDb" connectionString="Data Source=tcp:a5wpctbk48.database.windows.net,1433;
      Database=KippAccounting_db;
      User ID=kippacct@a5wpctbk48;
      Password=BoysC!ub2014;
      Trusted_Connection=False;
      Encrypt=True;
      Connection Timeout=30;" providerName="System.Data.SqlClient" />
</connectionStrings>

